[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "git4r"]
	path = git4r
	url = https://github.com/johnxhobbs/git4r
[submodule "paletteknife"]
	path = paletteknife
	url = https://github.com/johnxhobbs/paletteknife
